.row {
  color: white;
  margin: 3vw 0;
  margin-left: 20px;
}
.row--title {
  padding: 20px;
}

.row--posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: 20px;
  cursor: pointer;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.row--posters::-webkit-scrollbar {
  display: none;
}
.row--poster {
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  transition: transform 500ms;
  margin-right: 10px;
  border-radius: 5px;
}
.row--poster:hover {
  transform: scale(1.12);
  border-radius: 5px;
}
.row--posterLarge {
  max-height: 450px;
  width: 100%;
}
.row--posterLarge:hover {
  transform: scale(1.12);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .row {
    margin-left: 0px;
  }
  .row--title {
    font-size: 1.2rem;
    padding-bottom: 0px;
  }
  .row--poster {
    width: 60%;
  }
}
