.movie {
  object-fit: contain;
  max-height: 150px;
  transition: transform 500ms;
  margin-right: 10px !important;
  border-radius: 5px;
  margin: 3vw 0;
}

.movie:hover {
  transform: scale(1.12);
  border-radius: 5px;
  cursor: pointer;
}
