.search-result-component {
  display: flex;
  flex-wrap: wrap;
  padding: 54px;
  padding-left: 122px;
  width: 100%;
}

.search-movie {
  object-fit: contain;
  max-height: 150px;
  transition: transform 500ms;
  margin-right: 10px !important;
  border-radius: 5px;
  margin: 3vw 0;
}

.search-movie:hover {
  transform: scale(1.12);
  border-radius: 5px;
  cursor: pointer;
}
