.movie-info {
  width: 50%;
  height: 120vh;
  margin: auto;
  margin-top: 100px;
  background-color: #2e2828;
}

.detail--image {
  color: white;
  object-fit: contain;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.detail--image img {
  height: 50px;
}

.detail-image-title {
  font-size: 50px;
  color: white;
  margin-left: 16px;
  margin-bottom: 10px;
}

.detail--image--button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  font-size: 1rem;
  display: flex;
  width: 100px;
}

.img-fadeBottom {
  height: 6.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.text-detail {
  margin: 30px 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.detail-description {
  font-size: 19px;
  color: white;
  width: 60%;
}

.release-rating {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 5px;
  color: white;
}
.release-rating p {
  color: white;
}
.span {
  color: grey !important;
}

.genres-list {
  list-style: none;
  margin-left: 20px;
}

.detail--image--button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) {
  .detail--image {
    height: 400px;
  }
  .detail-image-title {
    font-size: 25px;
  }
  .detail--image--button {
    font-size: 0.8rem;
    width: 50px;
    justify-content: center;
  }

  .movie-info {
    margin: 0px;
    width: 100%;
  }
  .detail-description {
    font-size: 13px;
  }
  .release-rating p {
    font-size: 10px;
  }
  .release-rating {
    justify-content: end;
  }
}
